.container_login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .login,
  .register {
    margin-top: 25px;
    background-color: rgba(128, 128, 128, 0.204);
    width: 420px;
    padding: 25px;

    border-radius: 5px;
    form {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      input.submit_button {
        width: 100px;
        align-self: flex-end;
      }
    }
    p {
      text-align: end;
      a {
        color: blue;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.register {
}
